.container {
  margin: 0.2rem;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: 0.5s ease-in;
}

.moon {
  margin: 0;
  overflow: hidden;
}
.moon svg {
  background-color: transparent;
}

.input {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.1rem 0.2rem;
  padding: 0 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.options {
  width: 100%;
  margin: 0.1rem;
}

.options ul {
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  overflow: hidden;
}


.options li {
  text-align: center;
  margin: 0;
  padding: 0.2rem;
  width: 100%;
  list-style: none;
  cursor: pointer;
}

.options li:hover {
  color:red;
  background-color: #ddd;
}
