.main {
    border-radius: 0.4rem;
}

h1 {
    padding: 1rem;
}

.table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-auto-rows: 1fr;
    grid-gap: 1.5rem;
    margin-block: 3rem;
}

.card {
    height: 100%; // required for stretching cards that have less content
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    border-radius: 0.4rem;
    overflow: hidden;
}

.card > * {
}
.image {
    height: 250px;
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
}
.card > div {
    align-items: center;
}

.title {
    color: darkgoldenrod;
}
.description {
    margin-bottom: 40px;
}

.date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    color: #888a;
}

@media (max-width: 980px) {
    .table {
        grid-gap: 1rem;
    }
}

@media (max-width: 768px) {
    .table {
        grid-gap: 0.8rem;
    }
    .options {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .main {
        padding-bottom: 2rem;
    }
}
