.main {
}

.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    margin-block: 3rem;

    .row {
        // naming it .box would be better
        display: grid;
        grid-template-columns: max(230px, 50%) 1fr;
        grid-template-columns: max(20.1ch, 50%) 1fr;
        font-size: clamp(0.8rem, 2.1vw, 1.03rem);
        border-radius: 0.4rem;
        overflow: hidden;
    }

    .row > div {
        //each of text and color section
        margin: 0;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row > div:first-child > div {
        //each text line
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .row > div:first-child > div:hover {
        //each text line hover
        background-color: wheat;
        color: dodgerblue;
    }
    .row > div:first-child > div > *:last-child {
        //copy icon
        opacity: 0;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
    .row > div:first-child > div:hover *:last-child {
        //icons when each text line hovered
        opacity: 1;
    }
    .row > div:first-child > div > *:last-child:active {
        //copy icon
        background-color: teal;
        color: wheat;
    }

    .name {
        color: darkgoldenrod;
    }
    .hex {
    }
    .rgb {
    }
    .box {
    }
}

@media (max-width: 980px) {
    .table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
}

@media (max-width: 550px) {
    .main {
        padding: 0.5rem;
        .table {
            grid-template-columns: 1fr; // this can be the default, if so delete
        }
    }
}
