.container {
}

.title {
    margin-top: 0;
    padding: 1rem;
    border-radius: 3rem;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, auto));
}

.card {
    min-height: 400px;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.image {
    height: 200px;
    width: 100%;
    background-position: 30% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

.lower {
    padding: 1rem;
}
.card h2 {
    margin-block: 0.5rem;
    text-align: left;
    color: goldenrod;
}

.description {
    text-align: left;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    }
}
