.main {
    font-size: 1.2rem;
    margin: auto;
    padding: 2rem 3rem;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
}

h1 {
    color: dodgerblue;
}

p {
    text-align: left;
}

a {
    // color: dodgerblue !important;
}

code {
}

pre {
    padding: 1rem;
    overflow-x: scroll;
    border: 1px solid rgba(dodgerblue, 0.3);
    border-radius: 0.4rem;
}

@media (max-width: 768px) {
    .main {
        font-size: 1rem;
        padding: 2rem 1rem;
    }
}
@media (max-width: 500px) {
    .main {
        padding: 2rem 0.1rem;
    }
}
